@model ICollection<FrontEnd.Models.Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@if (TempData.Peek("Token") != null)
{

    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
            </tr>
        }
    </table>

    <a href="@Url.Action("Create","Employee")"><button class="" btn btn-primary>Create</button></a>

}
else
{
    <h1>Please Login or Register</h1>
}
